<!DOCTYPE html>
<html>
<head>
    <title>Seller Store Editor WebComponent</title>
    <meta charset="utf-8" />
    <style type="text/css">
        html, body {
          margin: 0;
          padding: 0;
        }
    </style>
</head>
<body>
    <seller-store-editor />
</body>
</html>
